<p id="notice"><%= notice %></p>
<%= render template: "layouts/menu" %>
<div class="container">


  <div class="col-md-9 col-sm-9">
    <p>

Atrakcje dla kategorii: <strong class="text-uppercase"><%= @category.name %></strong>
    </p>
    <% if @category.attractions.count > 0 %>
    <table class="table table-striped table-hover ">
      <% @category.attractions.each do |attr| %>
      <tbody>

      <tr class="success">

        <td>    <a class="story-img col-md-2" href="#"><img src="ccc" style="width:100px;height:100px"></a></td>

        <td class="col-md-3"><%= attr.name %></td>
        <td class="col-md-5"><%= attr.description %></td>
        <td class="col-md-2"><%= link_to "Zobacz więcej", attraction_path(attr) %></td>

            </tr>



      </tbody>
      <% end %>
    </table>
        <% else %>

        <div class="alert alert-dismissible alert-danger">

          <h4>Uwaga!</h4>
          <p>Ta kategoria nie jest związana z żadną atrakcją.</p>
        </div>

    <% end %>


  </div>
    <div class="col-md-3 col-xs-5 ">
    <%= render template: "layouts/right-side" %>
</div>


<%= link_to 'Edit', edit_category_path(@category) %>|
<%= link_to 'Back', categories_path %>
</div>
<div>
  <%= render template: "layouts/footer" %>
</div>