
<nav class="navbar navbar-default">
  <div class="container-fluid">


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", static_pages_home_path%></li>
        <li><%= link_to "Wycieczki po fabrykach", static_pages_trips_path %></li>
        <li><%= link_to "Targi technologiczne", static_pages_fairs_path %></li>
        <li class="active"><%= link_to "Muzea techniczne", static_pages_museums_path %><span class="sr-only">
          (current)</span></li>
        <li><%= link_to "Wskazówki dla podróżnych", static_pages_tips_path %></li>
        <li><%= link_to"Wyszukiwarka atrakcji", static_pages_search_path %></li>

      </ul>

    </div>
  </div>
</nav>
</div>
</nav>
<div class="container">


  <div class="col-md-9 col-sm-9">
    <h1>Nagłówek</h1>


    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed interdum sapien. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit.
    </p>
    <br \>
    <h2>Najpopularniejsze muzea techniczne</h2>
    <br \>

    <% @attractions.each do |attraction| %>
        <div class="col-md-4 text-center">
          <table class="table table-striped table-hover success">

            <tbody>
            <tr class="success">
              <td>
                <div>
                  <%= link_to attraction_path(attraction) do %>
                      <%= image_tag('300.gif', alt: 'toooor', width: "250px", height: "200px", class:
                                                     "story-img") %>
                  <% end %>
                </div>
                <div><h3> <%= attraction.name %> </h3> </div>
                <div> <%= attraction.description %>  </div>
                <div> <%= link_to "Zobacz więcej", attraction_path(attraction) %>   </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>


    <% end %>


    <div class="col-md-12 text-center">
      <br \><br \><br \>
    </div>


    <div class="text-center">
      <button class="btn btn-success btn-lg" type="button"><span aria-hidden="true"> Zobacz wszystkie</span></button>
    </div>
  </div>


  <div class="col-md-3 col-xs-5 ">
    <%= render template: "layouts/right-side" %>
  </div>
</div>
<br \><br \><br \>
<div>
  <%= render template: "layouts/footer" %>
</div>