<div class="jumbotron text-center">
  <div class="container">
    <div class="row">
      <div class="col col-lg-12 col-sm-12">
        <h1>LOGO</h1>
        <p>jakieś</p>

      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-default">
  <div class="container-fluid">


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", static_pages_home_path %></li>
        <li><%= link_to "Wycieczki po fabrykach", static_pages_trips_path %></li>
        <li><%= link_to "Targi technologiczne", static_pages_fairs_path %></li>
        <li><%= link_to "Muzea techniczne", static_pages_museums_path %></li>
        <li><%= link_to "Wskazówki dla podróżnych", static_pages_tips_path %></li>
        <li><%= link_to"Wyszukiwarka atrakcji", static_pages_search_path %></li>

      </ul>

    </div>
  </div>
</nav>

