<p id="notice"><%= notice %></p>


<div class="container-fluid">
  <%= render template: "layouts/menu" %>

</div>
<div class="container">
  <div class="col-md-9">
    <div class="jumbotron">
      <div class="jumbotron text-center ">
        <strong>Przykro mi, nie udało się dostarczyć Twojej wiadomości. </strong>
      </div>
      <div class="container text-center">
<span class="text-center">
  <%= link_to 'Spróbuj ponownie', propositions_new_path, :class => 'button' %> lub
  <%= link_to 'wróć na stronę główną', root_url, :class => 'button' %>.  </span>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-xs-5 ">
    <%= render template: "layouts/right-side" %>
  </div>

</div>

<%= link_to 'Back', attractions_path %>
</div>
<div class="container-fluid">
  <%= render template: "layouts/footer" %>
</div>