<p id="notice"><%= notice %></p>


<div class="container-fluid">
  <%= render template: "layouts/menu" %>

</div>
<div class="container">
  <div class="col-md-9">
    <div class="jumbotron">
      <div class="jumbotron text-center ">
        <strong>Dziękujemy za przesłanie propozycji! </strong>
      </div>
      <div class="container text-center">

  <%= button_to 'Wróć na stronę główną', root_url, :class => 'btn btn-success btn-sm' %>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-xs-5 ">
    <%= render template: "layouts/right-side" %>
  </div>

</div>

<%= link_to 'Back', attractions_path %>
</div>
<div class="container-fluid">
  <%= render template: "layouts/footer" %>
</div>